body {
	font-family:  sans-serif;
}

h1 {
	text-align: center;
}

h2 {
  float: right;
  position: relative;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 100px;
  }

.chicken, .beef, .sushi {
	border: 1px solid;
	background: grey;
	margin-bottom: 10px;
	padding: 25px;
}

.chicken h2 {
	border: 1px solid;
	background: orangered;
}

.beef h2 {
	border: 1px solid;
	background: red;
}

.sushi h2{
	border: 1px solid;
	background: mediumpurple;
}

@media (min-width: 992px) {
  .col-lg-1 {
    box-sizing: border-box;
    float: left;
    margin: 10px;
    width: 30%;
}
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    box-sizing: border-box;
    float: left;
    margin: 10px;
    width: 47%;   
    }
    .sushi{
      width: 96%;
    }
}

@media (max-width: 767px) {
  .col-sm-1 {
    box-sizing: border-box;
    float: left;
    width: 100%;
  }
}
}